.v-carousel__controls__item .v-icon {
  color: rgba(255, 255, 255, 0.45);
}

.v-carousel__controls__item {
  box-shadow: none !important;
}

.v-carousel__controls__item .v-icon {
  opacity: 1 !important;
}

.v-carousel__controls__item.v-btn {
  width: 8px !important;
  height: 8px !important;
}

.v-btn--variant-text .v-btn__overlay,
.v-btn--variant-text .v-btn__underlay {
  display: none;
}

.v-btn--active .v-icon {
  box-shadow: none;
  color: var(--base-color) !important;
}

.v-carousel {
  border-radius: var(--premium-radius);
}
