.overlay-bg {
  background: #14141f !important;
  border-radius: 6px;
}

.overlay-bg > .v-navigation-drawer__content {
  overflow-y: auto;
  padding: 20px 24px;
}

.overlay-bg .cta {
  overflow-wrap: break-word;
  color: #fff;
  font-size: 9pt;
  text-align: center;
  padding: 0;
  margin: 0;
}

.register-disclaimer {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.overlay-close {
  background: transparent !important;
  color: var(--textlink-light-text-color) !important;
  box-shadow: none !important;
  padding: 8px !important;
  position: absolute !important;
  top: 0;
  right: 0;
  min-width: 0 !important;
  min-height: 0 !important;
  width: 38px !important;
  height: 38px !important;
  border-radius: 50% !important;
}

.overlay-close svg {
  color: var(--textlink-light-text-color) !important;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  font-size: 1.5rem;
  padding: 0;
}
